extends ../layouts/default.pug

block main
  // Section 11
  .section-11(page-cart)
    .container
      .inner-wrap
        .inner-head
          .inner-title Shopping Cart
          a.inner-back(href="#")
            | Continue Shopping
            i.fa-solid.fa-angle-right

        .inner-tour-list(cart-list)
        .inner-coupon
          form#coupon-form
            input#coupon-input(
              placeholder="Enter coupon code"
              type="text"
              name="coupon"
              )
            button Apply Code
        .inner-list-price
          .inner-item
            .inner-label Subtotal:
            .inner-price
              span(cart-sub-total) 0
              span  VND
          .inner-item
            .inner-label Discount:

            .inner-price
              span(cart-discount) 0
              span  VND
          .inner-item
            .inner-label Total:

            .inner-price-highlight
              span(cart-total) 0
              span  VND
  // End Section 11
  // Section 12
  .section-12
    .container
      .inner-wrap
        form#orderForm(action="")
          .inner-title-main Customer Information
          .inner-list-group
            .inner-group
              input#fullName(
                placeholder="Full Name *"
                type="text"
                name="fullName"
                )
            .inner-group
              input#phone(
                placeholder="Phone Number *"
                type="text"
                name="phone"
                )
            .inner-group.inner-two-col
              textarea(
                placeholder="Note"
                name="note"
                )
          .inner-title-main Select Payment Method
          .inner-list-method
            .inner-item
              input#methodMoney(
                checked=""
                value="money"
                name="method"
                type="radio"
                )
              label(for="methodMoney") Cash on Tour
            .inner-item
              input#methodMomo(
                value="momo"
                name="method"
                type="radio"
                )
              label(for="methodMomo") MoMo Wallet
            .inner-item
              input#methodBank(
                value="bank"
                name="method"
                type="radio"
                )
              label(for="methodBank") Bank Transfer
            .inner-item
              input#methodZaloPay(
                value="zalopay"
                name="method"
                type="radio"
                )
              label(for="methodZaloPay") ZaloPay
          .inner-info-bank
            .inner-title Bank Transfer Information
            .inner-text
              div Bank: Vietcombank
              div Account Name: Le Van A
              div Account Number: 0123456789
          .inner-button
            button BOOK TOUR
  // End Section 12
