extends ../layouts/default.pug

block main
  // Section 11
  .section-11(page-cart)
    .container
      .inner-wrap
        .inner-head
          .inner-title Giỏ Hàng
          a.inner-back(href="#")
            | Quay lại mua hàng
            i.fa-solid.fa-angle-right

        .inner-tour-list(cart-list)
        .inner-coupon
          form#coupon-form
            input#coupon-input(
              placeholder="Nhập mã giảm giá"
              type="text"
              name="coupon"
              )
            button Dùng Mã
        .inner-list-price
          .inner-item
            .inner-label Tạm tính:
            .inner-price
              span(cart-sub-total) 0
              span đ
          .inner-item
            .inner-label Giảm:

            .inner-price
              span(cart-discount) 0
              span đ
          .inner-item
            .inner-label Thanh toán:

            .inner-price-highlight
              span(cart-total) 0
              span đ
  // End Section 11
  // Section 12
  .section-12
    .container
      .inner-wrap
        form#orderForm(action="")
          .inner-title-main Thông Tin Khách Hàng
          .inner-list-group
            .inner-group
              input#fullName(
                placeholder="Họ và tên *"
                type="text"
                name="fullName"
                )
            .inner-group
              input#phone(
                placeholder="Số điện thoại *"
                type="text"
                name="phone"
                )
            .inner-group.inner-two-col
              textarea(
                placeholder="Ghi chú"
                name="note"
                )
          .inner-title-main Chọn phương thức thanh toán
          .inner-list-method
            .inner-item
              input#methodMoney(
                checked=""
                value="money"
                name="method"
                type="radio"
                )
              label(for="methodMoney") Thanh toán tiền mặt khi đi tour
            .inner-item
              input#methodMomo(
                value="momo"
                name="method"
                type="radio"
                )
              label(for="methodMomo") Ví MoMo
            .inner-item
              input#methodBank(
                value="bank"
                name="method"
                type="radio"
                )
              label(for="methodBank") Chuyển khoản ngân hàng
            .inner-item
              input#methodZaloPay(
                value="zalopay"
                name="method"
                type="radio"
                )
              label(for="methodZaloPay") ZaloPay
          .inner-info-bank
            .inner-title Thông tin chuyển khoản
            .inner-text
              div Ngân hàng: Vietcombank
              div Tên tài khoản: Le Van A
              div STK: 0123456789
          .inner-button
            button ĐẶT Tour
  // End Section 12
