extends ../layouts/default.pug
include ../mixins/breadcrumb.pug

block main
  // Breadcrumb
  +breadcrumb(categoryDetail, tourDetail)
  // End Breadcrumb

  // Section 10
  .section-10
    .container
      .inner-wrap
        .inner-left
          // Box Images
          .box-images
            .inner-image-main
              .swiper.swiperImagesMain
                .swiper-wrapper
                  each image in tourDetail.images
                    .swiper-slide
                      .inner-image
                        img(
                          alt=""
                          src=image
                          )
            .inner-image-thumb
              .swiper.swiperImagesThumb
                .swiper-wrapper
                  each image in tourDetail.images
                    .swiper-slide
                      .inner-image
                        img(
                          alt=""
                          src=image
                          )
          // End Box Images
          // Box Tour Info
          .box-tour-info
            .inner-title-main Tour Information
            .inner-content !{tourDetail.information}
            .inner-read-more
              button.button-outline View All
          // End Box Tour Info
          // Box Tour Schedule
          .box-tour-schedule
            .inner-title-main Tour Schedule
            .inner-list
              .inner-line
              each item in tourDetail.schedules

                .inner-item
                  .inner-dot
                  .inner-title #{item.title}
                  .inner-content !{item.description}

        // End Box Tour Schedule
        .inner-right
          // Box Tour Detail
          .box-tour-detail
            .inner-title-main Your Trip
            .inner-product
              .inner-image
                img(
                  alt=tourDetail.name
                  src=tourDetail.avatar
                  )
              .inner-info
                .inner-title #{tourDetail.name}
                .inner-rating
                  .inner-stars
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-solid.fa-star
                    i.fa-regular.fa-star
                  .inner-number 500 reviews
            .inner-meta
              .inner-item
                i.fa-solid.fa-ticket-simple
                span Tour Code:
                span.inner-highlight 28T00001
              .inner-item
                i.fa-solid.fa-calendar-days
                span Duration:
                span.inner-highlight #{tourDetail.time}
              .inner-item
                i.fa-solid.fa-car
                span Transport:
                span.inner-highlight #{tourDetail.vehicle}
              .inner-item
                i.fa-solid.fa-calendar-days
                span Departure Date:
                span.inner-highlight #{tourDetail.departureDateFormat}
            .inner-group
              .inner-label Departure From:
              select(location-from)
                each item in tourDetail.cityList
                  option(value=item.id) #{item.name}
            .inner-group
              .inner-label Passenger Count
              .inner-list
                .inner-item
                  .inner-item-label Adult:
                  .inner-item-input
                    input(
                      value="1"
                      type="number"
                      min="0"
                      max=tourDetail.stockAdult
                      input-stock-adult
                      price=tourDetail.priceNewAdult
                      )
                  .inner-item-price
                    span(stock-adult) 1
                    span x
                    span.inner-highlight #{tourDetail.priceNewAdult.toLocaleString("en-US")} VND
                .inner-item
                  .inner-item-label Children:
                  .inner-item-input
                    input(
                      value="0"
                      type="number"
                      min="0"
                      max=tourDetail.stockChildren
                      input-stock-children
                      price=tourDetail.priceNewChildren
                      )
                  .inner-item-price
                    span(stock-children) 0
                    span x
                    span.inner-highlight #{tourDetail.priceNewChildren.toLocaleString("en-US")} VND
                .inner-item
                  .inner-item-label Baby:
                  .inner-item-input
                    input(
                      value="0"
                      type="number"
                      min="0"
                      max=tourDetail.stockBaby
                      input-stock-baby
                      price=tourDetail.priceNewBaby
                      )
                  .inner-item-price
                    span(stock-baby) 0
                    span x
                    span.inner-highlight #{tourDetail.priceNewBaby.toLocaleString("en-US")} VND
            .inner-total
                .inner-label Total:
                .inner-price
                    span(total-price) #{tourDetail.priceNewAdult.toLocaleString("en-US")}
                    span  VND
            button.inner-button-add-cart(tour-id=tourDetail.id) Add to Cart
          // End Box Tour Detail
  // End Section 10
