extends ../layouts/default.pug
include ../mixins/breadcrumb.pug
include ../mixins/product-item.pug

block main
  // Breadcrumb
  +breadcrumb(categoryDetail)
  // End Breadcrumb

  // Section 9
  .section-9
    .container
      .inner-wrap
        .inner-left
          // Box Filter
          .box-filter
            .inner-filter-list
              .inner-head
                .inner-title Filter
                i.fa-solid.fa-filter
              .inner-group
                .inner-label Departure From
                select(name="locationFrom")
                  option(value="") -- Select departure --
                  each item in cityList
                    option(value=item.id) #{item.name}
              .inner-group
                .inner-label Destination
                select(name="locationTo")
                  option(value="") -- Select destination --
                  each item in cityList
                    option(value=item.name) #{item.name}
              .inner-group
                .inner-label Departure Date
                input(type="date" name="departureDate" )
              .inner-group
                .inner-label Passenger Count
                .inner-input-list
                  .inner-input-item
                    .inner-label Adult:
                    input(
                      value="0"
                      type="number"
                      name="stockAdult"
                      )
                  .inner-input-item
                    .inner-label Children:
                    input(
                      value="0"
                      type="number"
                      name="stockChildren"
                      )
                  .inner-input-item
                    .inner-label Baby:
                    input(
                      value="0"
                      type="number"
                      name="stockBaby"
                      )
              .inner-group
                .inner-label Price Range
                select(name="price")
                  option(value="") -- Select price range --
                  option(value="0-999999 ") Under 1M
                  option(value="1000000-3000000") 1M to 3M
                  option(value="3000000-6000000") 3M to 6M
                  option(value="6000000-10000000") 6M to 10M
                  option(value="10000000-15999999") Over 10M
              button.inner-button Apply
          // End Box Filter
          .inner-overlay
        .inner-right
          .inner-info-1
            h2.inner-title #{categoryDetail.name}
            .inner-desc
              | #{categoryDetail.description}
          .inner-info-2
            .inner-sort
              .inner-label Sort by:
              button
                | Price: Low to High
                i.fa-solid.fa-circle-arrow-up
              button
                | Price: High to Low
                i.fa-solid.fa-circle-arrow-down
              button.active
                | Hot Deals
                i.fa-solid.fa-tag
              button
                | Most Viewed
                i.fa-solid.fa-eye
            .inner-total-item
              | All:
              b 101 Tours
            button.inner-button-filter
              | Filter
              i.fa-solid.fa-filter
          .inner-list-tour
            if (tourList.length > 0)
              each item in tourList
                +product-item(item)
            else
              p No data available.
          .box-pagination
            .inner-list-button
              button
                i.fa-solid.fa-angles-left
              button.active 1
              button 2
              button 3
              button 4
              button
                i.fa-solid.fa-angles-right
  // End Section 9
