extends ../layouts/default.pug
include ../mixins/checkbox.pug

block main
  if (pers.includes("category-view"))
    h1.box-title Category Management

    //- Section 4
    .section-4
      .inner-wrap
        .inner-item.inner-label
          <i class="fa-solid fa-filter"></i> Filter
        .inner-item
          select(filter-status)
            option(value="") Status
            option(value="active") Active
            option(value="inactive") Inactive
        .inner-item
          select(filter-created-by)
            option(value="") Created By
            each item in accountAdminList
              option(value= item.id) #{item.fullName}

        .inner-item.inner-date
          input(type="date" filter-start-date)
          span -
          input(type="date" filter-end-date)
        .inner-item.inner-reset(filter-reset)
          <i class="fa-solid fa-rotate-left"></i>
    //- End Section 4

    //- Section 5
    .section-5
      .inner-wrap
        .inner-change-status
          .inner-item
            select
              option(value="") -- Action --
              option(value="active") Active
              option(value="inactive") Inactive
              option(value="delete") Delete
          .inner-item
            button Apply
        .inner-search
          <i class="fa-solid fa-magnifying-glass"></i>
          input(type="text" placeholder="Search" search)
        if (pers.includes("category-create"))
          .inner-button-create
            a(href=`/${pathAdmin}/category/create`) + Create New
    //- End Section 5

    //- Section 6
    .section-6
      .table-2
        table
          thead
            tr
              th.text-left
                +checkbox-30("checkAll", "checkAll")
              th.text-left Category Name
              th.text-center Avatar
              th.text-center Position
              th.text-center Status
              th.text-left Created By
              th.text-left Updated By
              th.text-left Actions
          tbody
            each item in categoryList
              tr
                td.text-left
                  +checkbox-30("", "")
                td.text-left #{item.name}
                td.text-center
                  img(src= item.avatar class="inner-avatar")
                td.text-center #{item.position}
                td.text-center
                  if (item.status == "active")
                    .tag.tag-green Active
                  else if (item.status == "inactive")
                    .tag.tag-red Inactive
                td.text-left
                  if (item.createdByFullName)
                    div #{item.createdByFullName}
                    div.inner-small #{item.createdAtFormat}
                td.text-left
                  if (item.updatedByFullName)
                    div #{item.updatedByFullName}
                    div.inner-small #{item.updatedAtFormat}
                td.text-left
                  .box-actions
                    if (pers.includes("category-edit"))
                      a(href=`/${pathAdmin}/category/edit/${item.id}` class="inner-edit")
                        <i class="fa-solid fa-pen-to-square"></i>
                    if (pers.includes("category-delete"))
                      button(
                          class="inner-remove"
                          button-delete
                          data-api=`/${pathAdmin}/category/delete/${item.id}`
                      )
                        <i class="fa-solid fa-trash-can"></i>


    //- End Section 6

    //- Section 7
    .section-7
      span(class="inner-label") Showing #{pagination.skip +1 } - #{pagination.skip + categoryList.length} of #{pagination.totalRecord}
      select(class="inner-pagination" box-pagination)
        - for (let i = 1; i <= pagination.totalPage; i++)
          option(value=i) Page #{i}

    //- End Section 7
