extends ../layouts/default.pug
include ../mixins/options.pug

block main
    if (pers.includes("category-edit"))
        h1.box-title Chỉnh sửa danh mục

        .section-8
            form(id="category-edit-form")
                //- Trường ID ẩn để phục vụ việc gửi request PATCH/PUT
                .inner-group(style="display: none;")
                    label.inner-label(for="id") Id *
                    input(
                        type="text" 
                        id="id" 
                        name="id" 
                        value=categoryDetail.id
                    )

                .inner-group
                    label.inner-label(for="name") Tên danh mục *
                    input(
                        type="text" 
                        id="name" 
                        name="name" 
                        value=categoryDetail.name
                    )

                .inner-group
                    label.inner-label(for="parent") Danh mục cha
                    select(id="parent" name="parent")
                        option(value="") -- Chọn danh mục --
                        if(categoryList)
                            +options(categoryList, 0, categoryDetail.parent)

                .inner-group
                    label.inner-label(for="position") Vị trí
                    input(
                        type="number" 
                        id="position" 
                        name="position" 
                        value=categoryDetail.position
                    )

                .inner-group
                    label.inner-label(for="status") Trạng thái
                    select(id="status" name="status")
                        option(
                            value="active"
                            selected=(categoryDetail.status === "active")
                        ) Hoạt động
                        option(
                            value="inactive"
                            selected=(categoryDetail.status === "inactive")
                        ) Tạm dừng

                .inner-group.inner-two-col
                    label.inner-label(for="avatar") Ảnh đại diện
                    div(class="inner-upload-image")
                        input(
                            type="file"
                            id="avatar"
                            name="avatar"
                            filepond-image
                            image-default=categoryDetail.avatar
                        )

                .inner-group.inner-two-col
                    label.inner-label(for="description") Mô tả
                    textarea(
                        id="description"
                        name="description"
                        textarea-mce
                    ) #{categoryDetail.description}

                .inner-button.inner-two-col
                    button(type="submit") Cập nhật

            .inner-back
                a(href=`/${pathAdmin}/category/list`) Quay lại danh sách