extends ../layouts/account.pug

block main 
  .form-account
    h1.inner-title Quên mật khẩu
    .inner-desc View long nhập email để tiếp tục
    form(class="inner-form" id="forgotPasswordForm")
      .inner-group
        label.inner-label(for="email") Email *
        input(
          type="email"
          id="email"
          name="email"
          placeholder="Ví dụ: levana@gmail.com"
          class="inner-control"
        )
      button.inner-button Gửi mã OTP
      .inner-more
        span Bạn đã nhớ mật khẩu?
        a(href=`/${pathAdmin}/account/login`) Đăng nhập
