extends ../layouts/account.pug

block main
  .form-account
    h1.inner-title Forgot Password
    .inner-desc Please enter your email to continue
    form(class="inner-form" id="forgotPasswordForm")
      .inner-group
        label.inner-label(for="email") Email *
        input(
          type="email"
          id="email"
          name="email"
          placeholder="e.g. levana@gmail.com"
          class="inner-control"
        )
      button.inner-button Send OTP code
      .inner-more
        span Remembered your password?
        a(href=`/${pathAdmin}/account/login`) Login
