extends ../layouts/account.pug
include ../mixins/checkbox.pug


block main
  .form-account
    h1.inner-title Login
    .inner-desc Please enter your email and password to continue
    form(class="inner-form" id="loginForm")
      .inner-group
        label.inner-label(for="email") Email *
        input(
          type="email"
          id="email"
          name="email"
          placeholder="e.g. levana@gmail.com"
          class="inner-control"
        )
      .inner-group
        label.inner-label(for="password") Password *
        input(
          type="password"
          id="password"
          name="password"
          class="inner-control"
        )
      .inner-meta
        .inner-check
          +checkbox-30("rememberPassword", "rememberPassword")
          label(for="rememberPassword") Remember me
        a(href=`/${pathAdmin}/account/forgot-password` class="inner-link") Forgot password?
      button.inner-button Login
      .inner-more
        span Don't have an account?
        a(href=`/${pathAdmin}/account/register`) Create account
