extends ../layouts/account.pug
include ../mixins/checkbox.pug


block main 
  .form-account
    h1.inner-title Đăng nhập
    .inner-desc Vui lòng nhập email và mật khẩu để tiếp tục
    form(class="inner-form" id="loginForm")
      .inner-group
        label.inner-label(for="email") Email *
        input(
          type="email"
          id="email"
          name="email"
          placeholder="Ví dụ: levana@gmail.com"
          class="inner-control"
        )
      .inner-group
        label.inner-label(for="password") Mật khẩu *
        input(
          type="password"
          id="password"
          name="password"
          class="inner-control"
        )
      .inner-meta
        .inner-check
          +checkbox-30("rememberPassword", "rememberPassword")
          label(for="rememberPassword") Nhớ mật khẩu
        a(href=`/${pathAdmin}/account/forgot-password` class="inner-link") Quên mật khẩu?
      button.inner-button Đăng Nhập
      .inner-more
        span Bạn chưa có tài khoản?
        a(href=`/${pathAdmin}/account/register`) Tạo tài khoản
