extends ../layouts/default.pug

block main
  .container
    .section-11(style="padding-top: 20px;")
      .inner-wrap
        h4 Thank you for booking your tour! We will contact you as soon as possible.

        .inner-head
          .inner-title Order Information

        p Order Code: #{orderDetail.code}
        p Customer Name: #{orderDetail.fullName}
        p Phone Number: #{orderDetail.phone}
        p Note: #{orderDetail.note}
        p Payment Method: #{orderDetail.paymentMethodName}
        p Payment Status: #{orderDetail.paymentStatusName}
        p Order Status: #{orderDetail.statusName}
        p Order Date: #{orderDetail.createdAtFormat}

    .section-11(style="padding-top: 20px;")
      .inner-wrap
        .inner-head
          .inner-title Tour List

        .inner-tour-list
          each item in orderDetail.items
            // Tour Item
            .inner-tour-item
              .inner-product
                .inner-image
                  img(
                    alt=""
                    src=item.avatar
                  )
                .inner-content
                  .inner-title #{item.name}
                  .inner-meta
                    .inner-meta-item
                      | Departure Date:
                      b #{item.departureDateFormat}
                    .inner-meta-item
                      | Departure From:
                      b #{item.locationFromName}

              .inner-quantity
                label.inner-label Passenger Count
                .inner-list
                  .inner-item
                    .inner-item-label Adult:
                    .inner-item-price
                      span #{item.quantityAdult}
                      span  x
                      span.inner-highlight #{item.priceNewAdult.toLocaleString("en-US")} VND
                  .inner-item
                    .inner-item-label Children:
                    .inner-item-price
                      span #{item.quantityChildren}
                      span  x
                      span.inner-highlight #{item.priceNewChildren.toLocaleString("en-US")} VND
                  .inner-item
                    .inner-item-label Baby:
                    .inner-item-price
                      span #{item.quantityBaby}
                      span  x
                      span.inner-highlight #{item.priceNewBaby.toLocaleString("en-US")} VND
            // End Tour Item

        .inner-list-price
          .inner-item
            .inner-label Subtotal:
            .inner-price #{orderDetail.subTotal.toLocaleString("en-US")} VND
          .inner-item
            .inner-label Discount:
            .inner-price -#{orderDetail.discount.toLocaleString("en-US")} VND
          .inner-item
            .inner-label Total:
            .inner-price-highlight #{orderDetail.total.toLocaleString("en-US")} VND
