extends ../layouts/default.pug


block main
  h1.box-title Order: #{orderDetail.code}

  .section-8
    form(id="order-edit-form")
      .inner-group(style="display: none;")
        label.inner-label(for="id") Id *
        input(type="text" id="id" name="id" value=orderDetail.id)
      .inner-group
        label.inner-label(for="fullName") Customer Name *
        input(type="text" id="fullName" name="fullName" value=orderDetail.fullName )
      .inner-group
        label.inner-label(for="phone") Phone Number *
        input(type="text" id="phone" name="phone" value=orderDetail.phone)
      .inner-group.inner-two-col
        label.inner-label(for="note") Note
        textarea(id="note" name="note") #{orderDetail.note}
      .inner-group
        label.inner-label(for="paymentMethod") Payment Method
        select(id="paymentMethod" name="paymentMethod")
          each item in paymentMethodList
            option(
              value=item.value
              selected=(item.value == orderDetail.paymentMethod)
              ) #{item.label}
      .inner-group
        label.inner-label(for="paymentStatus") Payment Status
        select(id="paymentStatus" name="paymentStatus")
          each item in paymentStatusList
            option(
              value=item.value
              selected=(item.value == orderDetail.paymentStatus)
              ) #{item.label}
      .inner-group
        label.inner-label Order Date
        input(type="text" value=orderDetail.createdAtFormat readonly)
      .inner-group
        label.inner-label(for="status") Status
        select(id="status" name="status")
          each item in statusList
            option(
              value=item.value
              selected=(item.value == orderDetail.status)
              ) #{item.label}
      .inner-group
        label(class="inner-label") Tour List
        .inner-order-list
          each item in orderDetail.items
            .inner-order-item
              .inner-order-image
                img(src= item.avatar, alt=item.name )
              .inner-order-content
                .inner-order-name #{item.name}
                .inner-order-text Adult: #{item.quantityAdult} x #{item.priceNewAdult.toLocaleString("en-US")} VND
                .inner-order-text Children: #{item.quantityChildren} x #{item.priceNewChildren.toLocaleString("en-US")} VND
                .inner-order-text Baby: #{item.quantityBaby} x #{item.priceNewBaby.toLocaleString("en-US")} VND
                .inner-order-text Departure Date: #{item.departureDateFormat}
                .inner-order-text Departure From: #{item.locationFromName}
      .inner-group
        label(class="inner-label") Payment
          .inner-order-total
            div Subtotal: #{orderDetail.subTotal.toLocaleString("en-US")} VND
            div Discount: -#{orderDetail.discount.toLocaleString("en-US")} VND
            //- div Coupon: TOURMUAHE2024
            div Total:
                span(class="inner-order-price") #{orderDetail.total.toLocaleString("en-US")} VND
      .inner-button.inner-two-col
        button Update
    .inner-back
      a(href=`/${pathAdmin}/order/list`) Back to list
