extends ../layouts/account.pug

block main
  .form-account
    h1.inner-title Nhập mã OTP
    .inner-desc Vui lòng nhập mã OTP để tiếp tục
    form(class="inner-form" id="otpPasswordForm")
      .inner-group
        label.inner-label(for="otp") Mã OTP *
        input(
          type="text"
          id="otp"
          name="otp"
          placeholder="Ví dụ: 123456"
          class="inner-control"
        )
      button.inner-button Xác thực
      .inner-more
        span Bạn đã nhớ mật khẩu?
        a(href=`/${pathAdmin}/account/login`) Đăng nhập
