extends ../layouts/account.pug

block main
  .form-account
    h1.inner-title Enter OTP Code
    .inner-desc Please enter the OTP code to continue
    form(class="inner-form" id="otpPasswordForm")
      .inner-group
        label.inner-label(for="otp") OTP Code *
        input(
          type="text"
          id="otp"
          name="otp"
          placeholder="e.g. 123456"
          class="inner-control"
        )
      button.inner-button Verify
      .inner-more
        span Remembered your password?
        a(href=`/${pathAdmin}/account/login`) Login
