extends ../layouts/default.pug


block main
  h1.box-title My Profile

  .section-8
    form(id="profile-edit-form")
      .inner-group
        label.inner-label(for="fullName") Full Name *
        input(type="text" id="fullName" name="fullName" value=account.fullName)
      .inner-group
        label.inner-label(for="email") Email *
        input(type="email" id="email" name="email" value=account.email)
      .inner-group
        label.inner-label(for="phone") Phone Number
        input(type="text" id="phone" name="phone" value=account.phone)
      .inner-group
        label.inner-label Position
        input(type="text" value=account.positionCompany readonly)
      .inner-group
        label.inner-label Role Group
        input(type="text" value=account.roleName readonly)
      .inner-group.inner-two-col
        label.inner-label(for="avatar") Avatar
        div(class="inner-upload-image")
          input(type="file" id="avatar" name="avatar" filepond-image image-default=account.avatar)
      .inner-button.inner-two-col
        button Update
    .inner-back
      a(href=`/${pathAdmin}/profile/change-password`) Change Password
