extends ../layouts/account.pug
include ../mixins/checkbox.pug

block main
  .form-account
    h1.inner-title Register
    .inner-desc Create an account to continue
    form(class="inner-form" id="registerForm")
      .inner-group
        label.inner-label(for="fullName") Full Name *
        input(
          type="text"
          id="fullName"
          name="fullName"
          placeholder="e.g. Le Van A"
          class="inner-control"
        )
      .inner-group
        label.inner-label(for="email") Email *
        input(
          type="email"
          id="email"
          name="email"
          placeholder="e.g. levana@gmail.com"
          class="inner-control"
        )
      .inner-group
        label.inner-label(for="password") Password *
        input(
          type="password"
          id="password"
          name="password"
          class="inner-control"
        )
      .inner-meta
        .inner-check
          +checkbox-30("agree", "agree")
          label(for="agree") I accept the terms and conditions *
      button.inner-button Register
      .inner-more
        span Already have an account?
        a(href=`/${pathAdmin}/account/login`) Login
