extends ../layouts/account.pug


block main
  .form-account
    h1.inner-title Reset Password
    .inner-desc Please enter your new password to continue
    form(class="inner-form" id="resetPasswordForm")
      .inner-group
        label.inner-label(for="password") New Password *
        input(
          type="password"
          id="password"
          name="password"
          class="inner-control"
        )
      .inner-group
        label.inner-label(for="confirmPassword") Confirm Password *
        input(
          type="password"
          id="confirmPassword"
          name="confirmPassword"
          class="inner-control"
        )
      button.inner-button Change Password
      .inner-more
        span Remembered your password?
        a(href=`/${pathAdmin}/account/login`) Login
