extends ../layouts/default.pug
include ../mixins/checkbox.pug


block main
  h1.box-title Admin Accounts

  //- Section 4
  .section-4
    .inner-wrap
      .inner-item.inner-label
        <i class="fa-solid fa-filter"></i> Filter
      .inner-item
        select
          option(value="") Status
          option(value="") Active
          option(value="") Inactive
      .inner-item.inner-date
        input(type="date")
        span -
        input(type="date")
      .inner-item
        select
          option(value="") Role Group
          option(value="") Administrator
          option(value="") Order Manager
          option(value="") Tour Manager
      .inner-item.inner-reset
        <i class="fa-solid fa-rotate-left"></i>
  //- End Section 4

  //- Section 5
  .section-5
    .inner-wrap
      .inner-change-status
        .inner-item
          select
            option(value="") -- Action --
            option(value="") Active
            option(value="") Inactive
            option(value="") Delete
        .inner-item
          button Apply
      .inner-search
        <i class="fa-solid fa-magnifying-glass"></i>
        input(type="text" placeholder="Search")
      .inner-button-create
        a(href=`/${pathAdmin}/setting/account-admin/create`) + Create New
  //- End Section 5

  //- Section 6
  .section-6
    .table-2
      table
        thead
          tr
            th.text-left
              +checkbox-30("", "")
            th.text-left Full Name
            th.text-center Avatar
            th.text-left Email
            th.text-left Phone Number
            th.text-left Role Group
            th.text-left Position
            th.text-center Status
            th.text-left Actions
        tbody
          each item in accountAdminList
            tr
              td.text-left
                +checkbox-30("", item.id)
              td.text-left #{item.fullName}
              td.text-center
                img(src=item.avatar class="inner-avatar")
              td.text-left #{item.email}
              td.text-left #{item.phone}
              td.text-left #{item.roleName}
              td.text-left #{item.positionCompany}
              td.text-center
                if(item.status == "active")
                  .tag.tag-green Active
                else
                  .tag.tag-orange Pending
              td.text-left
                //- Các nút hành động...
                .box-actions
                  a(href=`/${pathAdmin}/setting/account-admin/edit/${item.id}` class="inner-edit")
                    <i class="fa-solid fa-pen-to-square"></i>
                  a(href="#" class="inner-remove")
                    <i class="fa-solid fa-trash-can"></i>
  //- End Section 6

  //- Section 7
  .section-7
    span(class="inner-label") Showing 1 - 9 of 78
    select(class="inner-pagination")
      option Page 1
      option Page 2
      option Page 3
  //- End Section 7
