extends ../layouts/default.pug

block main
    h1.box-title Edit Admin Account

    .section-8
        form(id="setting-account-admin-edit-form")
            //- Input ẩn để chứa ID tài khoản phục vụ cho việc gửi request PATCH
            .inner-group(style="display: none;")
                label.inner-label(for="id") Id *
                input(
                    type="text"
                    id="id"
                    name="id"
                    value=account.id
                )

            .inner-group
                label.inner-label(for="fullName") Full Name *
                input(
                    type="text"
                    id="fullName"
                    name="fullName"
                    value=account.fullName
                )

            .inner-group
                label.inner-label(for="email") Email *
                input(
                    type="email"
                    id="email"
                    name="email"
                    value=account.email
                )

            .inner-group
                label.inner-label(for="phone") Phone Number
                input(
                    type="text"
                    id="phone"
                    name="phone"
                    value=account.phone
                )

            .inner-group
                label.inner-label(for="role") Role Group
                select(id="role" name="role")
                    each item in roleList
                        option(
                            value=item.id
                            selected=(item.id == account.role)
                        ) #{item.name}

            .inner-group
                label.inner-label(for="positionCompany") Position *
                input(
                    type="text"
                    id="positionCompany"
                    name="positionCompany"
                    value=account.positionCompany
                )

            .inner-group
                label.inner-label(for="status") Status
                select(id="status" name="status")
                    option(
                        value="initial"
                        selected=(account.status == "initial")
                    ) Pending
                    option(
                        value="active"
                        selected=(account.status == "active")
                    ) Active
                    option(
                        value="inactive"
                        selected=(account.status == "inactive")
                    ) Inactive

            .inner-group
                label.inner-label(for="password") New Password
                input(
                    type="text"
                    id="password"
                    name="password"
                    placeholder="Leave blank to keep current password"
                )

            .inner-group.inner-two-col
                label.inner-label(for="avatar") Avatar
                div(class="inner-upload-image")
                    input(
                        type="file"
                        id="avatar"
                        name="avatar"
                        filepond-image
                        image-default=account.avatar
                    )

            .inner-button.inner-two-col
                button Update

        .inner-back
            a(href=`/${pathAdmin}/setting/account-admin/list`) Back to list
