extends ../layouts/default.pug
include ../mixins/checkbox.pug

block main
    h1.box-title Chỉnh sửa nhóm quyền

    .section-8
        form(id="setting-role-edit-form")
            //- Trường ID ẩn để phục vụ việc gửi request PATCH 
            .inner-group(style="display: none;")
                label.inner-label(for="id") Id *
                input(
                    type="text" 
                    id="id" 
                    name="id" 
                    value=roleDetail.id
                )

            .inner-group
                label.inner-label(for="name") Tên nhóm quyền *
                input(
                    type="text"
                    id="name"
                    name="name"
                    value=roleDetail.name
                )

            .inner-group
                label.inner-label(for="description") Mô tả ngắn
                input(
                    type="text"
                    id="description"
                    name="description"
                    value=roleDetail.description
                )

            .inner-group
                label.inner-label Phân quyền
                .inner-checkbox-list
                    //- Duyệt qua danh sách quyền hệ thống để tạo checkbox [cite: 48]
                    each item, index in permissionList
                        .inner-checkbox-item
                            +checkbox-30(
                                "permissions",
                                `permissions-${index}`,
                                item.value,
                                roleDetail.permissions.includes(item.value)
                            )
                            label(for=`permissions-${index}`) #{item.label}

            .inner-button.inner-two-col
                button(type="submit") Cập nhật

        .inner-back
            a(href=`/${pathAdmin}/setting/role/list`) Quay lại danh sách