extends ../layouts/default.pug
include ../mixins/checkbox.pug


block main
  h1.box-title Thùng rác tour

  //- Section 5
  .section-5
    .inner-wrap
      .inner-change-status
        .inner-item
          select
            option(value="") -- Hành động --
            option(value="") Hoạt động
            option(value="") Dừng hoạt động
            option(value="") Xóa
        .inner-item
          button Áp dụng
      .inner-search
        <i class="fa-solid fa-magnifying-glass"></i>
        input(type="text" placeholder="Tìm kiếm")
  //- End Section 5

  //- Section 6
  .section-6
    .table-2
      table
        thead
          tr
            th.text-left
              +checkbox-30("", "")
            th.text-left Tên tour
            th.text-center Ảnh đại diện
            th.text-left Giá
            th.text-left Còn lại
            th.text-center Vị trí
            th.text-center Trạng thái
            th.text-left Tạo bởi
            th.text-left Xóa bởi
            th.text-left Hành động
        tbody
          each item in tourList
            tr
              td.text-left
                +checkbox-30("", "")
              
              //- Hiển thị tên tour từ database
              td.text-left #{item.name}
              
              //- Hiển thị ảnh đại diện động
              td.text-center
                img(src=item.avatar class="inner-avatar")
              
              //- Hiển thị giá tour đã được định dạng
              td.text-left
                div NL: #{item.priceNewAdult.toLocaleString("vi-VN")} đ
                div TE: #{item.priceNewChildren.toLocaleString("vi-VN")} đ
                div EB: #{item.priceNewBaby.toLocaleString("vi-VN")} đ
              
              //- Hiển thị số lượng tồn kho
              td.text-left
                div NL: #{item.stockAdult}
                div TE: #{item.stockChildren}
                div EB: #{item.stockBaby}
              
              //- Hiển thị vị trí sắp xếp
              td.text-center #{item.position}

              //- Hiển thị trạng thái bằng Tag màu
              td.text-center
                if (item.status == "active")
                  .tag.tag-green Hoạt động
                else if (item.status == "inactive")
                  .tag.tag-red Tạm dừng

              //- Hiển thị thông tin người tạo
              td.text-left
                if (item.createdByFullName)
                  div #{item.createdByFullName}
                  div.inner-small #{item.createdAtFormat}

              //- Hiển thị thông tin người cập nhật/xóa
              td.text-left
                if (item.updatedByFullName)
                  div #{item.updatedByFullName}
                  div.inner-small #{item.updatedAtFormat}
                else if (item.deletedByFullName)
                  div #{item.deletedByFullName}
                  div.inner-small #{item.deletedAtFormat}

              //- Các nút hành động
              td.text-left
                .box-actions
                  button(
                    class="inner-undo"
                    button-undo
                    data-api=`/${pathAdmin}/tour/undo/${item.id}`
                    )
                    <i class="fa-solid fa-pen-to-square"></i>
                  button(
                    class="inner-remove"
                    button-destroy
                    data-api=`/${pathAdmin}/tour/destroy/${item.id}`
                    )
                    <i class="fa-solid fa-trash-can"></i>
  //- End Section 6

  //- Section 7
  .section-7
    span(class="inner-label") Hiển thị 1 - 9 của 78
    select(class="inner-pagination")
      option Trang 1
      option Trang 2
      option Tran 3
  //- End Section 7
