extends ../layouts/default.pug
include ../mixins/checkbox.pug


block main
  h1.box-title Tour Trash

  //- Section 5
  .section-5
    .inner-wrap
      .inner-change-status
        .inner-item
          select
            option(value="") -- Action --
            option(value="") Active
            option(value="") Inactive
            option(value="") Delete
        .inner-item
          button Apply
      .inner-search
        <i class="fa-solid fa-magnifying-glass"></i>
        input(type="text" placeholder="Search")
  //- End Section 5

  //- Section 6
  .section-6
    .table-2
      table
        thead
          tr
            th.text-left
              +checkbox-30("", "")
            th.text-left Tour Name
            th.text-center Avatar
            th.text-left Price
            th.text-left Remaining
            th.text-center Position
            th.text-center Status
            th.text-left Created By
            th.text-left Deleted By
            th.text-left Actions
        tbody
          each item in tourList
            tr
              td.text-left
                +checkbox-30("", "")

              //- Hiển thị tên tour từ database
              td.text-left #{item.name}

              //- Hiển thị ảnh đại diện động
              td.text-center
                img(src=item.avatar class="inner-avatar")

              //- Hiển thị giá tour đã được định dạng
              td.text-left
                div Adult: #{item.priceNewAdult.toLocaleString("en-US")} VND
                div Children: #{item.priceNewChildren.toLocaleString("en-US")} VND
                div Baby: #{item.priceNewBaby.toLocaleString("en-US")} VND

              //- Hiển thị số lượng tồn kho
              td.text-left
                div Adult: #{item.stockAdult}
                div Children: #{item.stockChildren}
                div Baby: #{item.stockBaby}

              //- Hiển thị vị trí sắp xếp
              td.text-center #{item.position}

              //- Hiển thị trạng thái bằng Tag màu
              td.text-center
                if (item.status == "active")
                  .tag.tag-green Active
                else if (item.status == "inactive")
                  .tag.tag-red Inactive

              //- Hiển thị thông tin người tạo
              td.text-left
                if (item.createdByFullName)
                  div #{item.createdByFullName}
                  div.inner-small #{item.createdAtFormat}

              //- Hiển thị thông tin người cập nhật/xóa
              td.text-left
                if (item.updatedByFullName)
                  div #{item.updatedByFullName}
                  div.inner-small #{item.updatedAtFormat}
                else if (item.deletedByFullName)
                  div #{item.deletedByFullName}
                  div.inner-small #{item.deletedAtFormat}

              //- Các nút hành động
              td.text-left
                .box-actions
                  button(
                    class="inner-undo"
                    button-undo
                    data-api=`/${pathAdmin}/tour/undo/${item.id}`
                    )
                    <i class="fa-solid fa-pen-to-square"></i>
                  button(
                    class="inner-remove"
                    button-destroy
                    data-api=`/${pathAdmin}/tour/destroy/${item.id}`
                    )
                    <i class="fa-solid fa-trash-can"></i>
  //- End Section 6

  //- Section 7
  .section-7
    span(class="inner-label") Showing 1 - 9 of 78
    select(class="inner-pagination")
      option Page 1
      option Page 2
      option Page 3
  //- End Section 7
