extends ../layouts/default.pug
include ../mixins/checkbox.pug
include ../mixins/options.pug


block main
  h1.box-title Create Tour

  .section-8
    form(id="tour-create-form")
      .inner-group
        label.inner-label(for="name") Tour Name *
        input(type="text" id="name" name="name")
      .inner-group
        label.inner-label(for="category") Category
        select(id="category" name="category")
          option(value="") -- Select category --
          +options(categoryList)
      .inner-group
        label.inner-label(for="position") Position
        input(type="number" id="position" name="position")
      .inner-group
        label.inner-label(for="status") Status
        select(id="status" name="status")
          option(value="active") Active
          option(value="inactive") Inactive
      .inner-group.inner-two-col
        label.inner-label(for="avatar") Avatar
        div(class="inner-upload-image")
          input(type="file" id="avatar" name="avatar" filepond-image)

      .inner-group.inner-two-col
        label.inner-label(for="images") Image List
        div(class="inner-upload-image-multi")
          input(
            type="file"
            multiple
            id="images"
            name="images"
            filepond-image-multi
            data-allow-reorder="true"
            )

      .inner-group
        label.inner-label Original Price
        .inner-input-list
          .inner-input-item
            label(for="priceAdult") Adult
            input(type="number" id="priceAdult" name="priceAdult")
          .inner-input-item
            label(for="priceChildren") Children
            input(type="number" id="priceChildren" name="priceChildren")
          .inner-input-item
            label(for="priceBaby") Baby
            input(type="number" id="priceBaby" name="priceBaby")
      .inner-group
        label.inner-label Sale Price
        .inner-input-list
          .inner-input-item
            label(for="priceNewAdult") Adult
            input(type="number" id="priceNewAdult" name="priceNewAdult")
          .inner-input-item
            label(for="priceNewChildren") Children
            input(type="number" id="priceNewChildren" name="priceNewChildren")
          .inner-input-item
            label(for="priceNewBaby") Baby
            input(type="number" id="priceNewBaby" name="priceNewBaby")
      .inner-group
        label.inner-label Remaining Stock
        .inner-input-list
          .inner-input-item
            label(for="stockAdult") Adult
            input(type="number" id="stockAdult" name="stockAdult")
          .inner-input-item
            label(for="stockChildren") Children
            input(type="number" id="stockChildren" name="stockChildren")
          .inner-input-item
            label(for="stockBaby") Baby
            input(type="number" id="stockBaby" name="stockBaby")
      .inner-group
        label.inner-label Tour Departure Locations
        .inner-checkbox-list
          each item in cityList
            .inner-checkbox-item
              +checkbox-30("locations", `locations-${item.id}`, item.id)
              label(for=`locations-${item.id}`) #{item.name}
      .inner-group
        label.inner-label(for="time") Duration
        input(type="text" id="time" name="time")
      .inner-group
        label.inner-label(for="vehicle") Transport
        input(type="text" id="vehicle" name="vehicle")
      .inner-group
        label.inner-label(for="departureDate") Departure Date
        input(type="date" id="departureDate" name="departureDate")
      .inner-group.inner-two-col
        label.inner-label(for="information") Tour Information
        textarea(id="information" name="information" textarea-mce)
      .inner-group.inner-two-col
        label.inner-label Tour Schedule
        .inner-schedule
          .inner-schedule-list
            .inner-schedule-item
              .inner-schedule-head
                .inner-schedule-button.inner-move
                  <i class="fa-solid fa-up-down-left-right"></i>
                input(type="text")
                .inner-schedule-button.inner-remove
                  <i class="fa-solid fa-trash-can"></i>
                .inner-schedule-button.inner-more
                  <i class="fa-solid fa-angle-down"></i>
              .inner-schedule-body
                textarea(textarea-mce)
          .inner-schedule-create + Add Schedule
      .inner-button.inner-two-col
        button Create
    .inner-back
      a(href=`/${pathAdmin}/tour/list`) Back to list
