extends ../layouts/default.pug
include ../mixins/checkbox.pug


block main
  h1.box-title Tour Management

  //- Section 4 + search: bọc trong 1 form GET để filter
  form(method="GET" action=`/${pathAdmin}/tour/list`)
    //- Section 4
    .section-4
      .inner-wrap
        .inner-item.inner-label
          <i class="fa-solid fa-filter"></i> Filter
        .inner-item
          select(name="status" onchange="this.form.submit()")
            option(value="") Status
            option(value="active" selected=(query.status == "active")) Active
            option(value="inactive" selected=(query.status == "inactive")) Inactive
        .inner-item
          select(name="createdBy" onchange="this.form.submit()")
            option(value="") Created By
            each item in accountAdminList
              option(value=item.id selected=(query.createdBy == item.id)) #{item.fullName}
        .inner-item.inner-date
          input(type="date" name="startDate" value=query.startDate onchange="this.form.submit()")
          span -
          input(type="date" name="endDate" value=query.endDate onchange="this.form.submit()")
        .inner-item
          select(name="category" onchange="this.form.submit()")
            option(value="") Category
            each item in categoryList
              option(value=item.id selected=(query.category == item.id)) #{item.name}
        .inner-item
          select(name="priceRange" onchange="this.form.submit()")
            option(value="") Price Range
            option(value="under-1m" selected=(query.priceRange == "under-1m")) Under 1M
            option(value="1m-2m" selected=(query.priceRange == "1m-2m")) 1M to 2M
            option(value="2m-6m" selected=(query.priceRange == "2m-6m")) 2M to 6M
            option(value="over-6m" selected=(query.priceRange == "over-6m")) Over 6M
        .inner-item.inner-reset
          a(href=`/${pathAdmin}/tour/list`)
            <i class="fa-solid fa-rotate-left"></i>
    //- End Section 4

    //- Section 5
    .section-5
      .inner-wrap
        .inner-change-status
          .inner-item
            select
              option(value="") -- Action --
              option(value="active") Active
              option(value="inactive") Inactive
              option(value="delete") Delete
          .inner-item
            button(type="button") Apply
        .inner-search
          <i class="fa-solid fa-magnifying-glass"></i>
          input(type="text" name="keyword" placeholder="Search" value=query.keyword)
        .inner-button-create
          a(href=`/${pathAdmin}/tour/create`) + Create New
        .inner-button-trash
          a(href=`/${pathAdmin}/tour/trash`) Trash
    //- End Section 5
  //- End form

  //- Section 6
  .section-6
    .table-2
      table
        thead
          tr
            th.text-left
              +checkbox-30("", "")
            th.text-left Tour Name
            th.text-center Avatar
            th.text-left Price
            th.text-left Remaining
            th.text-center Position
            th.text-center Status
            th.text-left Created By
            th.text-left Updated By
            th.text-left Actions
        tbody
          each item in tourList
            tr
              td.text-left
                +checkbox-30("", "")
              td.text-left #{item.name}
              td.text-center
                img(src= item.avatar class="inner-avatar")
              td.text-left
                div Adult: #{item.priceNewAdult.toLocaleString("en-US")} VND
                div Children: #{item.priceNewChildren.toLocaleString("en-US")} VND
                div Baby: #{item.priceNewBaby.toLocaleString("en-US")} VND
              td.text-left
                div Adult: #{item.stockAdult}
                div Children: #{item.stockChildren}
                div Baby: #{item.stockBaby}
              td.text-center #{item.position}

              td.text-center
                if (item.status == "active")
                  .tag.tag-green Active
                else if (item.status == "inactive")
                  .tag.tag-red Inactive

              td.text-left
                if (item.createdByFullName)
                  div #{item.createdByFullName}
                  div.inner-small #{item.createdAtFormat}
              td.text-left
                if (item.updatedByFullName)
                  div #{item.updatedByFullName}
                  div.inner-small #{item.updatedAtFormat}
              td.text-left
                .box-actions
                  a(
                    href=`/${pathAdmin}/tour/edit/${item._id}`
                    class="inner-edit"
                  )
                    <i class="fa-solid fa-pen-to-square"></i>
                  button(
                    class="inner-remove"
                    button-delete
                    data-api=`/${pathAdmin}/tour/delete/${item._id}`
                    )
                    <i class="fa-solid fa-trash-can"></i>
  //- End Section 6

  //- Section 7
  .section-7
    span(class="inner-label") Showing #{pagination.skip + 1} - #{pagination.skip + tourList.length} of #{pagination.totalRecord}
    select(class="inner-pagination" box-pagination)
      - for (let i = 1; i <= pagination.totalPage; i++)
        option(value=i) Page #{i}
  //- End Section 7
