extends ../layouts/default.pug
include ../mixins/checkbox.pug


block main
  h1.box-title User Management

  //- Section 4 + search: bọc chung trong 1 form GET
  form(method="GET" action=`/${pathAdmin}/user/list`)
    //- Section 4
    .section-4
      .inner-wrap
        .inner-item.inner-label
          <i class="fa-solid fa-filter"></i> Filter
        .inner-item
          select(name="status" onchange="this.form.submit()")
            option(value="") Status
            option(value="active" selected=(query.status == "active")) Active
            option(value="inactive" selected=(query.status == "inactive")) Inactive
            option(value="initial" selected=(query.status == "initial")) Pending
        .inner-item.inner-date
          input(type="date" name="startDate" value=query.startDate onchange="this.form.submit()")
          span -
          input(type="date" name="endDate" value=query.endDate onchange="this.form.submit()")
        .inner-item.inner-reset
          a(href=`/${pathAdmin}/user/list`)
            <i class="fa-solid fa-rotate-left"></i>
    //- End Section 4

    //- Section 5
    .section-5
      .inner-wrap
        .inner-change-status
          .inner-item
            select
              option(value="") -- Action --
              option(value="active") Active
              option(value="inactive") Inactive
              option(value="delete") Delete
          .inner-item
            button(type="button") Apply
        .inner-search
          <i class="fa-solid fa-magnifying-glass"></i>
          input(type="text" name="keyword" placeholder="Search" value=query.keyword)
    //- End Section 5
  //- End form

  //- Section 6
  .section-6
    .table-2
      table
        thead
          tr
            th.text-left
              +checkbox-30("", "")
            th.text-left Full Name
            th.text-center Avatar
            th.text-left Email
            th.text-left Phone Number
            th.text-left Address
            th.text-center Status
            th.text-left Registered At
            th.text-left Actions
        tbody
          each item in userList
            tr
              td.text-left
                +checkbox-30("", item.id)
              td.text-left #{item.fullName}
              td.text-center
                img(src=(item.avatar || "/admin/assets/images/user-default.png") class="inner-avatar")
              td.text-left #{item.email}
              td.text-left #{item.phone}
              td.text-left #{item.address}
              td.text-center
                if item.status == "active"
                  .tag.tag-green Active
                else if item.status == "inactive"
                  .tag.tag-red Inactive
                else
                  .tag.tag-orange Pending
              td.text-left #{item.createdAtFormat}
              td.text-left
                .box-actions
                  a(href="#" class="inner-edit")
                    <i class="fa-solid fa-pen-to-square"></i>
                  a(href="#" class="inner-remove")
                    <i class="fa-solid fa-trash-can"></i>
  //- End Section 6

  //- Section 7
  .section-7
    span(class="inner-label") Showing #{pagination.skip + 1} - #{pagination.skip + userList.length} of #{pagination.totalRecord}
    select(class="inner-pagination" box-pagination)
      - for (let i = 1; i <= pagination.totalPage; i++)
        option(value=i) Page #{i}
  //- End Section 7
