mixin product-item(item)
  if item
    - const priceAdult = item.priceAdult || 0;
    - const priceNewAdult = item.priceNewAdult || 0;
    - let discount = 0;
    if priceAdult > 0
      - discount = Math.floor(((priceAdult - priceNewAdult) / priceAdult) * 100);

    .product-item
      .inner-image
        a(href=`/tours/detail/${item.slug}`)
          img(
            src=(item.avatar || "/client/assets/images/default-tour.png")
            alt=item.title
          )

      if discount > 0
        .inner-discount
          i.fa-solid.fa-bolt
          |  Sale -#{discount}%

      .inner-content
        h3.inner-title
          a(href=`/tours/detail/${item.slug}`) #{item.name || "Tour name updating"}

        .inner-prices
          .inner-price-old
            | #{priceAdult.toLocaleString("en-US")}
            span.inner-unit  VND
          .inner-price-new
            | #{priceNewAdult.toLocaleString("en-US")}
            span.inner-unit  VND

        .inner-desc
          if item.code
            div Tour Code: #[span #{item.code}]
          div Departure Date: #[span #{item.departureDateFormat || "Contact us"}]
          div Duration: #[span #{item.time || "Updating"}]

        .inner-meta
          .inner-rating
            .inner-stars
              - for (var i = 0; i < 5; i++)
                if i < (item.rating || 5)
                  i.fa-solid.fa-star
                else
                  i.fa-regular.fa-star
            .inner-number (#{item.rating || 5})

          .inner-stock
            .inner-label Seats left:
            .inner-number #{item.stockAdult || 0}
