nav.sider
  ul.inner-menu
    if (pers.includes("dashboard-view"))
      li
        a(href=`/${pathAdmin}/dashboard`) <i class="fa-solid fa-gauge-high"></i> Dashboard
    if (pers.includes("category-view"))
      li
        a(href=`/${pathAdmin}/category/list`) <i class="fa-solid fa-table-cells-large"></i> Category Management
    li
      a(href=`/${pathAdmin}/tour/list`) <i class="fa-solid fa-table-list"></i> Tour Management
    li
      a(href=`/${pathAdmin}/order/list`) <i class="fa-solid fa-list-check"></i> Order Management
    li
      a(href=`/${pathAdmin}/user/list`) <i class="fa-solid fa-user"></i> User Management
    li
      a(href=`/${pathAdmin}/contact/list`) <i class="fa-solid fa-user-group"></i> Contact Info
  hr
  ul.inner-menu
    li
      a(href=`/${pathAdmin}/setting/list`) <i class="fa-solid fa-gear"></i> General Settings
    li
      a(href=`/${pathAdmin}/profile/edit`) <i class="fa-solid fa-user-gear"></i> My Profile
    li
      a(href=`/${pathAdmin}/account/logout` class="inner-logout") <i class="fa-solid fa-power-off"></i> Logout
.sider-overlay
